<footer>
	<div class="container text-center" style="margin-bottom:40px;">
		<hr />
		<div class="row">
			<div class="col-lg-12">
				<ul class="nav nav-pills nav-justified">
					<li><a href="https://github.com/HKanwal/">Github</a></li>
					<li>Email: hsk532991@hotmail.com</li>
					<li><a href="https://www.linkedin.com/in/harkeerat-kanwal-07222a170/">LinkedIn</a></li>
				</ul>
			</div>
		</div>
		<hr />
		<div class="container">
			<p class="larger-text">Created by: Harkeerat Kanwal</p>
		</div>
	</div>
</footer>
