<div id="log_in_modal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4>Log In</h4>
			</div>
			<div class="modal-body">
				<form id="login-form" action="/login" method="get">
					<div class="form-group">
						<label for="username_login_box">User Name:</label>
						<input type="text" class="form-control" id="username_login_box" placeholder="Enter Username" name="login_username">
						<span class="form-alert" id="username_login_alert"></span>
					</div>
					<div class="form-group">
						<label for="password_login_box">Password:</label>
						<input type="password" class="form-control" id="password_login_box" placeholder="Enter Password" name="login_password">
						<span class="form-alert" id="password_login_alert"></span>
					</div>
					<button type="submit" class="btn btn-primary">Log In</button>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<script>
var login_form = new FormValidator("#login-form", function(elements) {
	$.get($("#login-form").attr("action"), $("#login-form").serialize(), function(res) {
		// TODO: Make this prettier
		if(res === "DB search error") {
			alert("DB connection error. Please try again later.");
		} else if(res === "Incorrect password" || res === "User not found") {
			alert("Incorrect password or user not found.");
		} else {
			location.reload();
		}
	});
});

login_form.addElement("#username_login_box", "#username_login_alert", {
	"required": "Please enter a username"
});

login_form.addElement("#password_login_box", "#password_login_alert", {
	"required": "Please enter a password"
});
</script>