<div id="log_in_modal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4>Log In</h4>
			</div>
			<div class="modal-body">
				<form id="login-form" action="/login" method="get">
					<div class="form-group">
						<label for="username_login_box">User Name:</label>
						<input type="text" class="form-control" id="username_login_box" placeholder="Enter Username" name="login_username">
						<span class="form-alert" id="username_login_alert"></span>
					</div>
					<div class="form-group">
						<label for="password_login_box">Password:</label>
						<input type="password" class="form-control" id="password_login_box" placeholder="Enter Password" name="login_password">
						<span class="form-alert" id="password_login_alert"></span>
					</div>
					<button type="submit" class="btn btn-primary">Log In</button>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<script>
// form submission
$("#login-form").submit(function() {
	var valid = true;

	if($("#username_login_box").val() === "") {
		$("#username_login_alert").text("Please enter a username.").show();
		$("#username_login_box").parent().addClass("has-error");
		valid = false;
	}
	if($("#password_login_box").val() === "") {
		$("#password_login_alert").text("Please enter a password.").show();
		$("#password_login_box").parent().addClass("has-error");
		valid = false;
	}
	
	if(valid) {
		$.get($(this).attr("action"), $(this).serialize(), function(res) {
			// TODO: Make this prettier
			if(res === "DB search error") {
				alert("DB connection error. Please try again later.");
			} else if(res === "Incorect password" || res === "User not found") {
				alert(res);
			} else {
				location.reload();
			}
		});
	}

	return false;
});

// form validation
function validator() {
	var value = $(this).val();

	if(value === "") {
		$(this).parent().addClass("has-error");
	} else {
		$(this).parent().removeClass("has-error");
	}
}

function resetErrors() {
	$(this).siblings("span").hide();
}

$("#username_login_box").focus(resetErrors).focusout(validator);
$("#password_login_box").focus(resetErrors).focusout(validator);

</script>