<!-- Takes current active page -->
<div class="container">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">HK</a>
			</div>
			<ul class="nav navbar-nav">
	      		<li class=<% if(active==="Home") {%> <%="active"%> <% }%>><a href="/">Home</a></li>
	      		<li class=<% if(active==="Tools") {%> <%="active"%> <% }%>><a href="/tools">Tools</a></li>
	      		<li class=<% if(active==="Games") {%> <%="active"%> <% }%>><a href="/games">Games</a></li>
	    	</ul>
	    	<ul class="nav navbar-nav navbar-right">
	    		<% if(!cookies.user) { %>
		    		<li>
		    			<a href="#" data-toggle="modal" data-target="#sign_up_modal">
		    				<span class="glyphicon glyphicon-user"></span> Sign Up
		    			</a>
		    		</li>
		    		<li>
		    			<a href="#" data-toggle="modal" data-target="#log_in_modal">
		    				<span class="glyphicon glyphicon-log-in"></span> Log In
		    			</a>
		    		</li>
		    	<% } else { %>
		    		<li class"dropdown">
		    			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		    				<%= cookies.user %> <span class="caret"></span>
		    				<ul class="dropdown-menu">
		    					<li><a href="#">Profile</a></li>
		    					<li><a href="/logout">Log Out</a></li>
		    				</ul>
		    			</a>
		    		</li>
		    	<% } %>
	    	</ul>
		</div>
	</nav>
</div>