<div id="sign_up_modal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4>Register</h4>
			</div>
			<div class="modal-body">
				<form id="signup-form" action="/signup" method="post">
					<div class="form-group">
						<label for="username_signup_box">User Name:</label>
						<input type="text" class="form-control" id="username_signup_box" placeholder="Enter Username" name="signup_username">
						<span class="form-alert" id="username_signup_alert"></span>
					</div>
					<div class="form-group">
						<label for="email_box">Email:</label>
						<input type="text" class="form-control" id="email_box" placeholder="Enter Email" name="email">
						<span class="form-alert" id="email_alert"></span>
					</div>
					<div class="form-group">
						<label for="password_signup_box">Password:</label>
						<input type="password" class="form-control" id="password_signup_box" placeholder="Enter Password" name="signup_password">
						<span class="form-alert" id="password_signup_alert"></span>
					</div>
					<button type="submit" class="btn btn-primary">Register</button>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<script>
// checks if email valid
function validEmail(email) {
	if(/^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$/.exec(email)) {
		return true;
	} else {
		return false;
	}
}

// form submission
$("#signup-form").submit(function() {
	var valid = true;

	if($("#username_signup_box").val() === "") {
		$("#username_signup_alert").text("Please enter a username.").show();
		$("#username_signup_box").parent().addClass("has-error");
		valid = false;
	}
	if($("#email_box").val() === "") {
		$("#email_alert").text("Please enter an email.").show();
		$("#email_box").parent().addClass("has-error");
		valid = false;
	} else if(!validEmail($("#email_box").val())) {
		$("#email_alert").text("Please enter a valid email address.").show();
		$("#email_box").parent().addClass("has-error");
		valid = false;
	}
	if($("#password_signup_box").val() === "") {
		$("#password_signup_alert").text("Please enter a password.").show();
		$("#password_signup_box").parent().addClass("has-error");
		valid = false;
	}

	if(valid) {
		// Sent data keys are form field names
		$.post($(this).attr("action"), $(this).serialize(), function(res) {
			// TODO: Make this prettier
			if(res === "DB search error" || res === "DB save error") {
				alert("DB connection error. Please try again later.");
			} else if(res === "Name already in use" || res === "Email already in use") {
				alert(res);
			} else {
				location.reload();
			}
		});
	}

	// prevent redirect on submit
	return false;
});

// dynamic form validation
function validator() {
	var value = $(this).val();

	if(value === "" || !validEmail($("#email_box").val())) {
		$(this).parent().addClass("has-error");
	} else {
		$(this).parent().removeClass("has-error");
	}
}

function resetErrors() {
	$(this).siblings("span").hide();
}

$("#username_signup_box").focus(resetErrors).focusout(validator);
$("#email_box").focus(resetErrors).focusout(validator);
$("#password_signup_box").focus(resetErrors).focusout(validator);
</script>