<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="author" content="Harkeerat Kanwal">

		<% include partials/header_imports %>
	</head>

	<body>
		<% include partials/log_in %>
		<% include partials/sign_up %>
		<%- include("partials/navbar", { active: "APIs", session: session }) %>

		<div class="container">
			<div class="container-fluid page-header">
				<h2>APIs</h2>
			</div>
			<div class="container-fluid">
				<p class="larger-text">
					A list of APIs provided by this site. Most requests made to an API page require an API key. To obtain an API key for any of these services, please email me at hsk532991@hotmail.com.
				</p>
			</div>
			<div class="row" style="margin-top:20px;">
				<div class="col-lg-4">
					<div class="panel panel-default card">
						<a href="/APIs/stockfish">
							<div class="panel-body text-center">
								<h4>Stockfish Chess Engine</h4>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>

		<% include partials/footer %>

    	<% include partials/end_imports %>
	</body>
</html>