<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="author" content="Harkeerat Kanwal">

		<% include partials/header_imports %>
	</head>

	<body>
		<% include partials/log_in %>
		<% include partials/sign_up %>
		<%- include("partials/navbar", { active: "Games", cookies: cookies }) %>

		<div class="container">
			<div class="container-fluid page-header">
				<h2>Games</h2>
			</div>
			<div class="container-fluid">
				<p class="larger-text">
					A collection of games I have developed.
				</p>
			</div>
			<div class="row" style="margin-top:20px;">
				<div class="col-lg-4">
					<div class="panel panel-default card">
						<a href="/games/quick-click">
							<div class="panel-body">
								<img src="images/quick-click-thumbnail.jpg" style="width:100%;">
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>

		<% include partials/footer %>

    	<% include partials/end_imports %>
	</body>
</html>