<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="author" content="Harkeerat Kanwal">

		<% include partials/header_imports %>
	</head>

	<body>
		<% include partials/log_in %>
		<% include partials/sign_up %>
		<%- include("partials/navbar", { active: "Tools", cookies: cookies }) %>

		<div class="container">
			<div class="container-fluid page-header">
				<h2>Tools</h2>
			</div>
			<div class="container-fluid">
				<p class="larger-text">
					A collection of tools and scripts I have developed thus far.
				</p>
			</div>
		</div>

		<% include partials/footer %>

    	<% include partials/end_imports %>
	</body>
</html>