<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="author" content="Harkeerat Kanwal">

		<% include ../partials/fonts %>
		<% include ../partials/header_imports %>
	</head>

	<body>
		<%- include("../partials/navbar", { active: "Games" }) %>

		<div class="container">
			<div class="container-fluid page-header">
				<h2>Quick Click</h2>
			</div>
			<div class="container-fluid">
				<p class="larger-text">
					Test your mouse accuracy with this simple game. Made in HTML5 with JavaScript and PixiJS.
				</p>
			</div>
			<div id="canvas-container" class="container text-center" style="margin-top:50px;margin-bottom:50px;"></div>
		</div>

		<% include ../partials/footer %>

    	<% include ../partials/end_imports %>
    	<script src="/js/pixi.min.js"></script>
    	<script src="/js/quick-click.js"></script>
	</body>
</html>